/*  your css code here. If applicable */
#container{
	margin:20px;
}
#container ::before, #container ::after{
/* 	color:#f00; */
	color: red;
	content: " Before Element ";
	font-size: 20px;
}
/* p::after{
	color:#f00;
	color: red;
	content: " After Element ";
	font-size: 20px;
}
 */